  <header id="header" class="header sticky-top">
    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a
              href="mailto:tec.capilar.cruzdinis@gmail.com">tec.capilar.cruzdinis@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>(+351) 930 696 099</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a id="btn-en" href="/en/index.html"><img src="/assets/img/icons/uk-flag.png" oncontextmenu="return false;"
							ondragstart="return false;"></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <img src="assets/img/logo/1.png" alt="logotipo" oncontextmenu="return false;"
							ondragstart="return false;">
        </a>

        <nav id="navmenu" class="navmenu d-flex" >
          <ul>
            <li><a href="#hero" class="active">Home<br></a></li>
            <li><a href="#cirurgiao">Cirurgião</a></li>
            <li><a href="#casosclinicos">Casos Clínicos</a></li>
            <li class="dropdown"><a href="#"><span>Tratamentos</span> <i
                  class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#tratamentos">PRP</a></li>
                <li><a href="#tratamentos">Mesoterapia</a></li>
                <li><a href="#tratamentos">Medicação</a></li>
                <li><a href="#tratamentos">Laser Capilar</a></li>
              </ul>
            </li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#marcacao">Marcar Avaliação</a>

      </div>

    </div>

  </header>